{% capture bb_checkout_link %}{% render 'bb', type: 'bb_checkout_link' %}{% endcapture %}
{{ "style-cart-modal.css" | asset_url | stylesheet_tag }}
<form action="{% if bb_checkout_link != blank %}{{ bb_checkout_link }}{% else %}/cart{% endif %}" method="post" novalidate>
  <input type="hidden" name="_cart" value="{{ cart | json | escape }}" />
  <input type="hidden" name="_shop" value="{{ shop.permanent_domain | escape }}" />
<div class="cart__container" id="myModal">
  <div>
  <div class="cart__header-row">
    <h1 class="cart__title">My Cart</h1>
    <div class="close__cart" id="close" >
      {% render "close-icon" %}
    </div>
  </div>
  

  <div class="cart__product-container">
  
  </div>
</div>



  
  <div class="cart__checkout-container">
    <div class="cart__total-price-row">
      <p>Subtotal</p>
      <div class="cart__total-price">
        {{ cart.total_price | money }}
      </div>
    </div>
    <p class="cart__text-shipping">
      {{ section.settings.text-checkout | escape }}
    </p>
    <div class="product__price-monthly">
      <img src="{{ section.settings.logo-affirm-img | image_url }}" alt="">
      <p>
        {{ section.settings.text-per-month-sale | escape}}
      </p>
      <a href="#">Learn More</a>
    </div>
    <div class="cart__checkout-submit">
      <button type="submit" name="checkout">Continue to Checkout</button>
    </div>
    
  </div>

</div>

</form>
<script>

</script>

