{{ "style-account.css" | asset_url | stylesheet_tag }}
<div class="account__container container">
<div class="account__manubar">
  <h2 class="menubar__title">My account</h2>
  <div class="account__menu">
    <a class="menubar__link {% if template.name ==  'account' %} active {% endif %}" href="{{ routes.account_url }}">Account Overview</a>
    <a class="menubar__link {% if template.name ==  'order' %} active {% endif %}" href="{{ customer.orders[0].customer_url }}">Orders Details</a>
    <a class="menubar__link {% if template.name ==  'addresses' %} active {% endif %}" href="{{ routes.account_addresses_url }}">Address Book</a>
    <a href="{{ routes.account_logout_url }}" class="navigation__link-url log_out {% if template.name != "index" %} navigation__link-url--dark {% endif %}">
      Log Out
    </a>
  </div>
  
</div>
<div class="orders__container">

<div class="customer__orders-container" id="customer_orders">
  <h2 class="orders__title">Orders Details</h2>
  {% paginate customer.orders by 5 %}
    {% if customer.orders.size != 0 %}
      <div class="orders">
        <div class="orders__header">
          <p class="order__number">Order Number</p>
          <p class="order__date">Date</p>
          <p class="order__status">Status</p>
          <p class="order__total-price total">Total</p>
        </div>
        {% for order in customer.orders %}
          <div class="order__item">
            <a class="order__item__number" href="{{ order.customer_url }}">{{ order.name }}</a>
            <p class="order__item__date">{{ order.created_at | date: "%d.%m.%Y" }}</p>
            <p class="order__item__status">{{ order.fulfillment_status }}</p>
            <p class="order__item__total-price">{{ order.total_price | money }}</p>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>You haven't placed any orders yet.</p>
    {% endif %}
    <div class="account__pagination">
      {{ paginate | default_pagination: next: 'Next', previous: 'Prev' }}
    </div>
  {% endpaginate %}
</div>

<div class="customer__address-container">

{% if customer.default_address %}
  <h2 class="orders__title">Address Book</h2>
  <h5 class="customer__name">{{ customer.name }}</h5>
  <div class="customer__adress">
  {% if customer.default_address.address2 != "" %}
    <span>{{ customer.default_address.address2 }}</span>
  {% endif %}
  <span>{{ customer.default_address.address1 }},</span>
  </div>
  <div>
    <span>{{ customer.default_address.company }}</span>
    <span>{{ customer.default_address.city}},</span>
  </div>
  <div>
    <span>{{ customer.default_address.province_code }}</span>
    <span>{{ customer.default_address.zip }}</span>
  </div>
{% endif %}
<div class="address__more">
  <a class="address__more-url" href="{{ routes.account_addresses_url }}">View Addresses</a>
</div>
</div>
</div>
</div>