{{ "style-address.css" | asset_url | stylesheet_tag }}
<div class="address__container container">
  <div class="menubar__container">
    <div class="menubar__content">
      <h2 class="menubar__title">My Account</h2>
      <div class="menubar__links">
        <a class="menubar__link {% if template.name ==  'account' %} active {% endif %}" href="{{ routes.account_url }}">Account Overview</a>
        <a class="menubar__link {% if template.name ==  'order' %} active {% endif %}" href="{{ customer.orders[0].customer_url }}">Order Details</a>
        <a class="menubar__link {% if template.name ==  'addresses' %} active {% endif %}" href="{{ routes.account_addresses_url }}">Address Book</a>
        <a href="{{ routes.account_logout_url }}" class="navigation__link-url log_out{% if template.name != "index" %} navigation__link-url--dark {% endif %}">
        Log Out
      </a>
      </div>
    </div>
  </div>

  <div class="address__form-container">
    <div id="default__address">
      {% paginate customer.addresses by 3 %}
      <div class="default__address">
        {% for address in customer.addresses %}
        <div>
          <div>
            {% if address == customer.default_address %}
            <p class="address__title">Default address</p>
            {% else %}
            <p class="address__title">
              Address
              {{ forloop.index }}
            </p>
            {% endif %}
          </div>
          <div class="default__box">
            <h2>{{ address.name }}</h2>
            <p>{{ address.address1 }}</p>
            <p>{{ address.address2 }}</p>

            <p>{{ address.city }}</p>
            <p>{{ address.country }}</p>
            <div class="address__manage">
              <button type="submit">Edit</button>
              <span>|</span>
              <form class="address-delete-form"
              method="post"
              action="/account/addresses/{{ address.id }}"
              >
              <input type="hidden" name="_method" value="delete">
              <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="account__pagination">
        {{ paginate | default_pagination: next: 'Next', previous: 'Prev' }}
      </div>
      {% endpaginate %}
      <div class="default__add__address" id="add-address-default-btn">
        <a class="default__add__address-url"> Add new address </a>
      </div>
    </div>
    <div class="add__new-address__form" id="add__new-address__form">
      {% form 'customer_address', customer.new_address %}
      <h2 class="address__title">Add New Address</h2>
      {{ form.errors | default_errors }}
      <div class="fullname">
        <div class="input__container">
          <input
          class="login__input-field fullname__input"
          type="text"
          name="address[first_name]"
          required
          />
          <label class="login__input-label" for="first_name">First Name</label>
        </div>
        <div class="input__container">
          <input
            class="login__input-field fullname__input"
            type="text"
            name="address[last_name]"
            required
          />
          <label class="login__input-label" for="last_name">Last Name</label>
        </div>
      </div>
      <div class="input__container">
        <input
          class="login__input-field"
          type="text"
          name="address[address1]"
          required
        />
        <label class="login__input-label" for="address1">Address 1</label>
      </div>
      <div class="input__container">
        <input
          class="login__input-field"
          type="text"
          name="address[address2]"
          required
        />
        <label class="login__input-label" for="address2">Address 2</label>
      </div>
      <div class="city__address-content">
        <div class="input__container">
          <input
            class="login__input-field city__address"
            type="text"
            name="address[city]"
            required
          />
          <label class="login__input-label" for="city">City</label>
        </div>
        <div class="input__container">
          <input
            class="login__input-field city__address"
            type="text"
            name="address[country]"
            required
          />
          <label class="login__input-label" for="city">Country</label>
        </div>
      </div>
      <div class="address__btn-container">
        <button
          type="submit"
          class="add__address-btn-url"
          id="add__address-btn"
        >
          Add new address
        </button>
        <a class="address__cancel" href="{{ routes.account_addresses_url }}"
          >Cancel</a
        >
      </div>
      <!-- See docs for @shopify/theme-addresses to support Country and Province -->
      <!-- <label class="login__input-label" for="country">Country</label>
<select class="login__input-field" name="address[country]" /></select>
<label class="login__input-label" for="province">Province</label>
<select class="login__input-field" name="address[province]" /></select>
<label class="login__input-label" for="zip">Zip/Post Code</label>
<input class="login__input-field" type="text" value="" name="address[zip]" />
<label class="login__input-label" for="phone">Phone Number</label>
<input class="login__input-field" type="tel" value="" name="address[phone]" /> -->
    </div>
    {% endform %}
  </div>
</div>

<script>
  document.getElementById("add-address-default-btn").onclick = function () {
    console.log("clicked");
    document.getElementById("default__address").style.display = "none";
    document.getElementById("add__new-address__form").style.display = "block";
  };
  document.getElementById("add__address-btn").onclick = function () {
    document.getElementById("add__new-address__form").style.display = "none";
    document.getElementById("default__address").style.display = "block";
    
  };
</script>