{{ "style-featured.css" | asset_url | stylesheet_tag }}
{{ "https://unpkg.com/swiper/swiper-bundle.min.css" | stylesheet_tag }}
{{ "https://unpkg.com/swiper/swiper-bundle.min.js" | script_tag }}

<div class="featured">
  <div class="swiper container">
    <div class="swiper-wrapper featured__slider__container">
      {% for product in collections.frontpage.products %}
      <div class="swiper-slide featured__product__blog">
        <a href="{{ product.url | within: collection }}">
          <img
            class="featured__product__img"
            src="{{ product.featured_image.src | img_url: 'large' }}"
            alt="{{ product.featured_image.alt | escape }}"
          />
        </a>
        <div class="featured__product-name">
          <a
          class="featured__product__link"
          href="{{ product.url | within: collection }}"
          >{{ product.title }}</a
        >
        <i>
          {% render "arrow-right" %}
        </i>
        </div>
        
      </div>
      {% endfor %}
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>

<script>
  var swiper = new Swiper(".swiper", {
    slidesPerView: 4,
    scrollbar: {
      el: ".swiper-scrollbar",
      hide: true,
      dragSize: 215
    },
  });
</script>
