{{ "style-navigation.css" | asset_url | stylesheet_tag }}

<div class="navigation__bar {% if template.name != "index" %} navigation__container--relative {% endif %}">
<div class="container navigation__container">
  <div>
    <a href="{{ routes.root_url }}" class="navigation__logo {% if template.name != "index" %} navigation__logo--dark {% endif %} ">
      {% render "logo" %}
    </a> 
  </div>
  <ul class="navigation__link-list">
    {% for link in linklists.main-menu.links %}
    <li>
      <a href="{{ link.url }}" class="navigation__link-url {% if template.name != "index" %} navigation__link-url--dark {% endif %}">
        {{ link.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <ul class="navigation__icon-list {% if template.name != "index" %} navigation__icon-list--dark {% endif %}">
    <a href="{{ routes.search_url }}" class="navigatin__icon">
      {% render "icon__search" %}
    </a>
    <a href="{{ routes.account_url }}" class="navigatin__icon">
      {% render "icon__account" %}
    </a>
    <a href="" class="navigatin__icon" id="myBtn">
      {% render "icon__cart" %}
      
    </a>
    <p data-ajax-cart-bind-state="cart.item_count" class="cart-item-counter">
      Cart:{{ cart.item_count }}
    </p>
  </ul>
</div>
</div>

{% render "cart" %}

<script>
  document.querySelector("#myBtn").addEventListener('click', e => {
    e.preventDefault()
  })
    
  const myCustom = () => {
  
    let formData = {
      'items': [{
      'id': document.querySelector(".product__options input:checked").getAttribute("value"),
      'quantity': 1
      }]
    };
    fetch(window.Shopify.routes.root + 'cart.js', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => {
      return response.json();
    })
    .then((data)=>{
      console.log(data)
    })
    .catch((error) => {
      console.error('Error:', error);
    });  
}
document.querySelector(".cart__product-container").innerHTML += `
  <div class="modal-content">
    <div class="cart__product--img">
      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
    </div>
    <div class="cart__details-row">
    <div class="cart__product-details">
      <div class="cart__product--title">
        <a href="{{ item.url }}">{{ item.product_title }}</a>
      </div>
      <p class="cart__product--size"></p>
      <div class="cart__product--quantity">
        <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
      </div>
    </div>
    <div>
      <p class="cart__product--price">
        {{ item.price | money }}
      </p>
      <div class="cart__remove__product">
        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
          {% render "close-icon" %}
        </a>        
      </div>
    </div>  
    </div>
  </div>
`

</script>


<script>

function toggleMobileMenu(menu) {
  menu.classList.toggle("open");
}
const modal = document.querySelector("#myModal");
const btn = document.querySelector("#myBtn");
const cartClose = document.querySelector("#close");

const toggleNav = (e) => {
  e.preventDefault()
  modal.classList.toggle("m__card-open");
};
btn.addEventListener("click", toggleNav);
cartClose.addEventListener("click", toggleNav);

</script>

{% schema %} { "name": "Navigation", "class": "navigation" } {% endschema %}
