{{ "style-navigation.css" | asset_url | stylesheet_tag }}

<div class="navigation__bar {% if template.name != "index" %} navigation__container--relative {% endif %}">
<div class="container  navigation__container">
  <div>
    <a href="{{ routes.root_url }}" class="navigation__logo {% if template.name != "index" %} navigation__logo--dark {% endif %} ">
      {% render "logo" %}
    </a> 
  </div>
  <ul class="navigation__link-list">
    {% for link in linklists.main-menu.links %}
    <li>
      <a href="{{ link.url }}" class="navigation__link-url {% if template.name != "index" %} navigation__link-url--dark {% endif %}">
        {{ link.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <ul class="navigation__icon-list {% if template.name != "index" %} navigation__icon-list--dark {% endif %}">
      <a href="" class="navigatin__icon">
        {% render "icon__search" %}
      </a>
      <a href="" class="navigatin__icon" id="myBtn">
        {% render "icon__cart" %}
      </a>
      <a href="{{ routes.account_url }}" class="navigation__link-url {% if template.name != "index" %} navigation__link-url--dark {% endif %}">
        {{ customer.name }}
      </a>
      <a href="{{ routes.account_logout_url }}" class="navigation__link-url {% if template.name != "index" %} navigation__link-url--dark {% endif %}">
        Log Out
      </a>
    </ul>
    {% else %}
    <ul class="navigation__icon-list {% if template.name != "index" %} navigation__icon-list--dark {% endif %}">
      <a href="" class="navigatin__icon">
        {% render "icon__search" %}
      </a>
      <a href="{{ routes.account_login_url }}" class="navigatin__icon">
        {% render "icon__account" %}
      </a>
      <a href="" class="navigatin__icon" id="myBtn">
        {% render "icon__cart" %}
      </a>
    </ul>
  {% endif %}
{% endif %}  
</div>
</div>

{% render "cart" %}

<script>
  document.querySelector("#myBtn").addEventListener('click', e => {
    e.preventDefault()
    myCustom()
  })
    
  function myCustom(){
  
    fetch(window.Shopify.routes.root + 'cart.js', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => {
      return response.json();
    })
    .then((data)=>{
      document.querySelector(".cart__product-container").innerHTML = ""
      data.items.forEach(item => {
        document.querySelector(".cart__product-container").innerHTML += `
          <div class="modal-content" key="${item.key}">
            <div class="cart__product--img">
              <img src="${ item.image }" alt="product image">
            </div>
            <div class="cart__details-row">
            <div class="cart__product-details">
              <div class="cart__product--title">
                <a href="${ item.url }">${ item.product_title }</a>
              </div>
              <p class="cart__product--size">
                ${ item.variant_options }lb Single
              </p>
              <div class="cart__product--quantity">
                <span class="qty__minus">-</span>
                <span class="current__qty-item">1</span>
                <span class="qty__plus">+</span>
              </div>
            </div>
            <div>
              <p class="cart__product--price"> 
                $${(item.price / 100).toFixed(2)  } 
              </p>
              <div class="cart__remove__product" >
                  {% render "close-icon" %}  
              </div>
            </div>  
            </div>
          </div>
          <div class="horyzontal-line"></div>
        `
      }); 
      document.querySelector(".cart__total-price").innerHTML = `$${(data.items_subtotal_price / 100).toFixed(2) }`
      document.querySelector("#myModal").classList.add("m__card-open")
    })
    .catch((error) => {
      console.error('Error:', error);
    });  
}


function removeProductItem(modal_c) {
  let formData = {
  'id': modal_c.getAttribute("key"),
  'quantity': 0
};
fetch(window.Shopify.routes.root + 'cart/change.js', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(formData)
})
.then(response => {
  return response.json();
})
.then(smth=>{
  document.querySelector(".cart__total-price").textContent = `$${(smth.items_subtotal_price/100).toFixed(2)}`;
  modal_c.remove()
  if(!smth.item_count){ empty_cart();  return }
})
.catch((error) => {
  console.error('Error:', error);
});
}


function updateProductItem(sign, target)  {
        let item = target.parentElement.parentElement.parentElement.parentElement;
        let key = item.getAttribute("key")
        let qty = null;
        if (sign==="+"){
            qty = Number(target.previousElementSibling.textContent) + 1
        } else{
            if (Number(target.nextElementSibling.textContent) > 1) {
                qty = Number(target.nextElementSibling.textContent) - 1;
            }else{
              removeProductItem(item)
                return;
            }
        } 
        let formData = {
            "id": key,
            "quantity": qty
        };
        fetch(window.Shopify.routes.root + 'cart/change.js', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(res=>{
            res.json().then((changed)=>{
                document.querySelector(".cart__total-price").textContent = `$${(changed.items_subtotal_price/100).toFixed(2)}`;
              
              

                let current = changed.items.find((item)=>item.key === key);
                if(qty <= current.quantity){                  
                    if (sign==="+"){
                        target.previousElementSibling.textContent = qty;
                    } else{
                        target.nextElementSibling.textContent = qty;
                    } 
                    item.querySelector(".cart__product--price").textContent = `$${(current.original_line_price/100).toFixed(2)}`;
                }else{
                    return false
                }
            })
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
    function empty_cart() {
        document.querySelector(".cart__product-container").innerHTML = `
            <div class="empty_cart">
                <p>Your Cart is Empty</p>
                <div>
                  <a class="btn btn--secondary" href="{{ collection.url }}">Shop Best Sellers</a>
                </div>
            </div>
            `;
        return
    }
</script>


<script>

function toggleMobileMenu(menu) {
  menu.classList.toggle("open");
}
const modal = document.querySelector("#myModal");
const btn = document.querySelector("#myBtn");
const cartClose = document.querySelector("#close");

const toggleNav = (e) => {
  e.preventDefault()
  modal.classList.toggle("m__card-open");
};
btn.addEventListener("click", toggleNav);
cartClose.addEventListener("click", toggleNav);

//remove product 
document.querySelector(".cart__product-container").addEventListener('click', e => {
  // e.preventDefault()
  if(e.target.classList.contains("cart__remove__product")) {
    removeProductItem(e.target.parentElement.parentElement.parentElement)
  }
  else if (e.target.classList.contains("qty__minus")){
    updateProductItem("-", e.target)
  }
  else if (e.target.classList.contains("qty__plus")){
    updateProductItem("+", e.target)
  }
})
</script>



{% schema %}
  { 
    "name": "Navigation", 
    "class": "navigation",
    "settings": [
      {
        "type": "text",
        "id": "text-checkout",
        "label": "Modal Cart Shipping Text"
      },
      {
        "type": "image_picker",
        "id": "logo-affirm-img",
        "label": "Modal Cart Logo Per Month Price"
      },
      {
        "type": "text",
        "id": "text-per-month-sale",
        "label": "Modal Cart Text Per Month Sale"
      }
    ]
  } 
  
{% endschema %}
