{{ "style-pdp.css" | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="pdp__form-container container">
<div class="carousel__container">
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {% for image in product.images %}
    <div class="swiper-slide">  
      <img src="{{ image.src | img_url: "large" }}" alt="{{ image.alt | escape }}">
    </div>
    {% endfor %}
  </div>
</div>
<div class="swiper-pagination"></div>
</div>


<div class="product__info-container">
  <h1>{{ product.title }}</h1>
  {{ current_variant.price | money }}
  <div>
    <div class="product__rating">
      {% assign rating = product.metafields.my_fields.rating.value.rating %}
      {% for i in (1..rating) %}
        {% render "star" %}
      {% endfor %}
    </div>
    <p>
      {{ section.settings.text-reviews | escape}}
    </p>
</div>
<div>
  <img src="{{ section.settings.logo-affirm-img | image_url }}" alt="">
  <p>
    {{ section.settings.text-per-month-sale | escape}}
  </p>
</div>
<div>{{ product.description }}</div>
{% form "product", product %}
{% for variant in product.variants %}
  {% if variant.available %}
    <input type="radio" name="id" selected="selected" value="{{ variant.id }}" id="{{ variant.id }}" price="{{ variant.price | money_with_currency }}">
    <label for="{{ variant.id }}">{{ variant.title }}</label>
  {% else %}
  <input type="radio" name="id" value="{{ variant.id }}" id="{{ variant.id }}" price="{{ variant.price | money_with_currency }}" disabled>
  <label for="{{ variant.id }}" class="disabled">{{ variant.title }}</label>
  {% endif %}
{% endfor %}
<input type="hidden" name="quantity" value="1" min="1">
<!-- <input type="hidden" name="id" value="1" min="1"> -->
  <button type="submit" name="add" id="AddToCart">Add to cart</button>
{% endform %}


  </div>
</div>

{% schema %} 
  {
  "settings": 
  [
    {
      "type": "text",
      "id": "text-reviews",
      "label": "Rating Reviews"
    },
    {
      "type": "image_picker",
      "id": "logo-affirm-img",
      "label": "Logo Per Month Price"
    },
    {
      "type": "text",
      "id": "text-per-month-sale",
      "label": "Text Per Month Sale"
    }
  ]
}
{% endschema %}







<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    direction: "vertical",
    slidesPerView: 1,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
