{{ "style-recommend-product.css" | asset_url | stylesheet_tag }}

<h1 class="recommend-title">{{ section.settings.title-recommend | escape }}</h1>
<div class="collection-list__product-row container">
{% paginate collection.products  %} 
  {% for product in collection.products limit: 4 %}
    <div class="collection-list__product">
      <div class="goods__tag-container">
      {% for tag in product.tags %}
        {% if tag contains 'Free Shipping' %}     
          <span class="goods__free-shipping goods__tag">{{tag}}</span>
        {% endif %}
      {% endfor %}
    </div>
      <a href="{{ collection.tags }}"></a>
      <a class="collection-list__product__img-parent" href="{{ product.url | within: collection }}">
        <img class="collection-list__product-img" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
      <a class="collection-list__product-name" href="{{ product.url | within: collection }}">{{ product.title }}</a>
      <div class="product__rating">
        {% assign rating = product.metafields.my_fields.rating.value.rating %}
        {% for i in (1..rating) %}
          {% render "star" %}
        {% endfor %}
      </div>
      <p class="collection-list__product-price">{{ product.price | money }}</p>
    </div>
  {% endfor %}
  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}
{% endpaginate %}
</div>


{% schema %}
  {
    "name": "collection-list",
    "class": "cllection",
    "settings": [
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collection List"
    },
    {
      "type": "text",
      "id": "title-recommend",
      "label": "Title for section"
    }
  ]
  }
{% endschema %}
